@* @using System.Security.Cryptography *@
@{
    ViewData["Title"] = "Home Page";
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!------------------the Css code------------------>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'popins',sans-serif;
        }

        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            width: 100%;
            background-image: url('/img/blackstonemain.png');
            background-position: center;
            background-size: cover;
        }

        .form-box {
            position: relative;
            width: 400px;
            height: 450px;
            background: transparent;
            border: 2px solid rgb(255,255,255,0.5);
            border-radius: 20px;
            backdrop-filter: blur(15px);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo {
            font-size: 2em;
            width: 250px;
            height: 100px;
            margin-left: 10%;
            margin-right: 50px;
            background-position: center;
        }

        .inputbox {
            position: relative;
            margin: 30px 0;
            width: 310px;
            border-bottom: 2px solid #fff;
        }

            .inputbox label {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
                color: #fff;
                font-size: 1em;
                pointer-events: none;
            }

        input:focus ~ label,
        input:valid ~ label {
            top: -5px;
        }

        .inputbox input {
            width: 100%;
            height: 50px;
            background: transparent;
            border: none;
            outline: none;
            font-size: 1em;
            padding: 0 35px 0 5px;
            color: #fff;
        }

        .inputbox ion-icon {
            position: absolute;
            right: 8px;
            color: #fff;
            font-size: 1.2em;
            top: 20px;
        }

        .forget {
            margin: -15px 0 15px;
            font-size: .9em;
            color: #fff;
            display: flex;
            justify-content: center;
        }

            .forget label input {
                margin-right: 3px;
            }

            .forget label a {
                color: #fff;
                text-decoration: none;
            }

                .forget label a:hover {
                    text-decoration: underline;
                }

        button {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            background: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1em;
            font-weight: 600;
        }

            button:hover {
                background-color: #CCE6FE;
            }

        .register {
            font-size: .9em;
            color: #fff;
            text-align: center;
            margin: 25px 0 10px;
        }

            .register a {
                text-decoration: none;
                color: #fff;
                font-weight: 600;
            }

                .register a:hover {
                    text-decoration: underline;
                }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        .error {
            color: #af4242;
            background-color: #fde8ec;
            padding: 10px;
            display: none;
            transform: translateY(-20px);
            margin-bottom: 20px;
            font-size: 14px;
        }
    </style>

</head>

<body>

    <div class="main">
        <div class="form-box">
            <div class="form-value">
                <img src="~/img/Blackstonelogo.png" class="logo">

                 <form class="login" method="post" asp-controller="login" asp-action="Login">
                <div class="inputbox">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" name="Username" id="Admin" required> <label for="">Admin Username</label>
                </div>
                <div class="inputbox">
                    <ion-icon id="togglePassword" name="lock-closed-outline" onclick="Toggle()"></ion-icon>
                    <input type="password" autocomplete="current-password" name="Password" id="pass_log_id" required> <label for="">Password</label>
                    <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
                </div>

                     <button type="submit">Sign in</button>
                     @if (ViewBag.WrongPassword != null)
                     {
                         <div>
                             @ViewBag.WrongPassword
                         </div>
                     }
                     <div class="register">
                        Don't have a account <a asp-controller="Register" asp-action="Register">Register</a>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!------------------the Javascript code------------------>
    <script>
      
        function Toggle() {
            var temp = document.getElementById("pass_log_id");
            if (temp.type === "password") {
                temp.type = "text";
                document.getElementById("togglePassword").name = "lock-open-outline";
            }
            else {
                temp.type = "password";
                document.getElementById("togglePassword").name = "lock-closed-outline";
            }
        }
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  
</body>

</html>
